* {
	margin: 0px;
	padding: 0px
}

body,
html {
	font-family: 'Helvetica';
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.row {
	margin: 0px;
}

p {
	color: #87898f;
	/*font-size: 15px;*/
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
}

.scroll-fixed {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


/* right enquery form */

.right-form {
	position: fixed;
	right: 0;
	top: 270px;
	width: 43px;
	z-index: 999;
}

.right-img-enquery {
	background: #7f939a none repeat scroll 0 0;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	transition: 0.3s;
	margin-right: -66px;
	margin-top: 0px;
	padding: 15px 0;
	text-align: center;
	transform: rotate(-90deg);
	width: 180px;
	border-radius: 5px 5px 2px 0px;
	letter-spacing: 1px;
}


/* sidenav */

.pyborbt {
	padding: 15px 15px;
	border-bottom: solid 1px #fff;
}

.sidenav {
	padding: 0px 0px;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
}

.sidenav a {
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn:hover {
	text-decoration: none
}

.sidenav .closebtn {
	font-size: 50px;
	cursor: pointer;
	color: #fff;
	line-height: 40px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}


/* mobile menu */

.mobile_menu {
	padding: 10px 0px;
	width: 100%;
	z-index: 999;
	border-bottom: solid 1px #fff;
}

.mobile_menu span {
	color: #fff;
}

.mobilemenu-link {
	transition: 0.6s;
}

.mobilemenu-link a {
	font-family: 'Gotham Book';
	color: #fff;
	font-size: 25px;
	margin: 15px 0px;
}

.mobilemenu-link {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* desktop menu */

.navbar-expand-lg .line-new {
	border-bottom: solid 1px #ffffff7d;
}

.pd-right {
	padding-right: 0;
}

.header-menu {
	width: 120%;
}

.header-menu a {
	/*font-family: 'Gotham Book';*/
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	position: relative;
	transition: all ease-in-out 0.3s;
	position: relative;
	display: inline-block;
	padding: 20px 0px;
}

.header-menu .active {
	border-bottom: solid 2px #fff;
}

.header-menu a:after {
	content: '';
	width: 0%;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -3px;
	left: 0;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.header-menu a:hover:after {
	width: 100%;
}

.immenu-header {
	z-index: 99999;
}

.pd-left {
	padding-left: 0;
}

.navbar-brand-image {
	width: 60%;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0rem;
	padding-left: 0rem;
	margin-left: 40px;
}


/* landing page image section */

.imhome-banner .container {
	flex-direction: column;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
}

.banner-slider .banslide-items:focus {
	outline: none!important;
	outline: 0!important;
}

.banslide-items {
	background: url('../images/Banner.png');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	height: 100vh!important;
	width: 100%;
}


/* content body */

.greybg {
	background: #F2F2F2;
}

.whitebg {
	background: #fff;
}

.pd20 {
	padding: 100px;
	padding-top: 120px;
	padding-bottom: 120px;
}

.pt60 {
	padding-top: 120px;
}

.section-headings {
	color: #7f939a;
	font-size: 45px;
	font-weight: bold;
	font-family: 'Helvetica';
}

.section1 .col-sm-7 {
	padding: 20px;
	padding-left: 60px;
	padding-bottom: 0px;
}


/*section 2 carousel */


/*.floor-plans-carousel {*/


/*	height: 350px;*/


/*}*/

.floor-plans-carousel .col-lg-8 {
	padding-right: 0px;
	/*background:#eae7e1;*/
}

.floor-plans-carousel .col-lg-4 {
	border: 1px solid grey;
	padding: 75px;
}

.floor-plans-carousel .col-lg-4 h6 {
	font-weight: bold;
	font-size: 16px;
	color: #87898f;
}

.carousel-image {
	display: flex;
	justify-content: center;
}

.carousel-image img {
	max-width: 100%;
	height: 350px;
	margin: auto;
}


/* section 3 */

#gallery {
	padding: 0px;
}

#gallery .col-lg-8,
#gallery .col-lg-4 {
	padding-left: 0px;
	padding-right: 0px;
}

#gallery .col-lg-4 {
	background-color: #333333
}

#gallery .carousel {
	height: 100%;
}

#gallery .carousel-inner {
	width: 100%;
	height: 100%;
}

#gallery .carousel-item {
	height: 100%;
}

#gallery .carousel-inner img {
	width: 100%;
	height: 100%;
}

.gallery-text-section1 {
	border-bottom: 1px solid grey;
	padding: 90px 55px 55px;
	padding-bottom: 20px;
	padding-right: 130px;
}

.gallery-text-section1 h6 {
	font-weight: bold;
	font-size: 50px;
	color: #7f939a;
	font-family: 'Helvetica';
}

.gallery-text-section1 p,
.gallery-text-section2 p {
	font-size: 18px;
}

.gallery-text-section2 {
	border-bottom: 1px solid grey;
	padding: 55px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 130px;
}

.gallery-text-section3 {
	padding: 55px;
	padding-right: 95px;
}

.gallery-text-section3 a {
	margin-right: 15px;
	text-decoration: none;
}

.gallery-text-section3 a span {
	background-color: #7f939a;
	color: #fff;
	border-radius: 50%;
	padding: 15px;
}


/* section 4*/

#amenities {
	padding-right: 0px;
}

#amenities .row {
	margin-top: 50px;
}

#amenities .col-lg-3 img {
	max-width: 60%;
	width: 80px;
	height: 80px;
}

#amenities .col-lg-3 h5 {
	font-size: 16px;
	color: #595959;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 8px;
}

#amenities .col-lg-3 p {
	font-size: 18px;
	line-height: 24px;
	padding-right: 70px;
}


/* section 5 */

#price-list {
	padding-top: 85px;
	padding-bottom: 85px;
	padding-right: 100px;
	padding-left: 100px;
}

#price-list .table-responsive {
	padding-top: 50px;
}

th {
	background-color: #ebebeb;
}

td {
	background-color: #f5f5f5;
}

th,
td {
	font-size: 13px;
}


/* contact section */

#contact {
	padding-right: 0px;
	padding-left: 0px;
}

#contact .form,
#contact .map {
	padding-right: 0px;
	padding-left: 0px;
}

#contact .form {
	padding: 85px;
	background-color: #333333;
}

@media (min-width: 768px) {
	.form h4 {
		font-weight: bold;
		font-size: 48px;
		color: #7f939a
	}
}

.form form {
	padding: 30px 0 0 0;
}

.form .form-row {
	margin-top: 50px;
}

.form form .form-row .input-data {
	padding-right: 25px;
	padding-left: 0px;
	height: 30px;
}

.form .input-data input {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.form input[type=text] {
	background-color: #333333;
	border-bottom: 1px solid grey;
	color: grey;
}

.form input:focus {
	outline: none;
	border: none;
}

.form .input-data input:focus~label,
.form .input-data input:valid~label {
	transform: translateY(-20px);
	font-size: 14px;
	color: grey;
}

.form .input-data label {
	color: grey;
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.form .input-data .underline {
	position: absolute;
	color: grey;
	bottom: 0;
	height: 2px;
	width: 90%;
}

.form .input-data .underline:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: grey;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.form .input-data input:focus~.underline:before,
.form .input-data input:valid~.underline:before {
	transform: scale(1);
}

@media (max-width: 767px) {
	.form form {
		padding: 10px 0 0 0;
	}
	.form form .form-row {
		display: block;
	}
	.form form .form-row .input-data {
		margin: 35px 0!important;
	}
	.form h4 {
		font-weight: bold;
		font-size: 30px;
		color: #7f939a
	}
}

.submit-button {
	margin-top: 30px;
}

.submit-button button {
	background-color: #7f939a;
	color: white;
	font-size: 12px;
	padding: 55px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.map img {
	width: 100%;
}


/* bottom form */

.bottom-form {
	width: 100%;
	padding: 15px 0;
	position: fixed;
	bottom: 0;
	z-index: 99;
	background-color: #7f939a;
}

.bottom-form-inputfield {
	margin-right: 3px;
	position: relative;
	margin-left: 15px;
	width: 20%;
}

.bottom-form-inputfield input,
.bottom-form-inputfield select {
	height: 40px;
	border-radius: 0;
	width: 100%;
}

.bottom-form-inputfield.select-box {
	width: 12%;
	margin-right: 0px;
	padding: 0px;
	position: relative;
	margin-left: 15px;
}

.bottom-form-inputfield.contact-field {
	margin-left: 0px;
}

.bottom-form-inputfield button {
	background: #000;
	border: none;
	color: #fff;
	width: 100%;
	font-family: 'montserratregular';
	padding: 8px 0px;
	font-size: 17px;
	border-radius: 4px;
}

@media screen and (max-width: 900px) {
	.bottom-form-inputfield{
		width: 15%;
	}
}